/* .container{
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: lightblue;
}

@media (max-width: 900px){
    .container{
        flex-direction:column;

    }
} */


.container {
    display: grid;
    grid-template-rows: 100px 100px 200px;
    grid-template-columns: 100px 100px 100px;
    flex: row;
    gap: 10px;

}
.item1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: red; /* fixed */
}

.item2{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    background-color: blue; /* fixed */
}
.item3 {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    background-color: green; /* fixed */
}